body {
			background-color: #333
		}

		a {
			color: #ccc;
			font-size: 16px;
			padding-left: 15px;
			text-decoration: none;
		}

		a:hover {
			color: dimgrey
		}

		h2 {
			color: #ccc;
			font-family: Tahoma, Geneva, sans-serif;
			font-size: 30px;
			padding-left: 15px;
		}

		h3 {
			color: white;
			font-family: Tahoma, Geneva, sans-serif;
			font-size: 18px;
			padding-left: 15px;
		}

		p {
			color: white;
			font-family: Tahoma, Geneva, sans-serif;
			font-size: 20px;
			border: 0px;
		}

		hr {
			color: rgba(255, 255, 255, 0);
			background-color: white;
			margin-right: 10px;
			margin-left: 10px;
			height: 1px;
			border: none;
		}

		.search {
			width: 600px;
			height: 24px;
			text-align: center;
			font-size: 18px;
			color: transparent;
			background-color: transparent;
			text-shadow: 0 0 0 white;
			border: 1px solid white;
		}

		.search:hover {
			outline: none;
		}

		#title {
			position: center;
			margin-left: auto;
			margin-right: auto;
			width: 624px;
			padding-bottom: 12px;
			padding-top: 80px;
		}

		#wrapper {
			position: center;
			margin-left: auto;
			margin-right: auto;
			width: 624px;
			height: 214px;
		}

		#gap {
			padding: 6px;
			float: left;
		}

		#Group {
			width: 200px;
			height: 200px;
			float: left;
			background-color: transparent;
		}